/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    background-color: #36393f;
    color: #fff;
    font-family: 'Helvetica Neue', sans-serif;
  }
  
  /* Header styles */
  h1 {
    font-size: 3rem;
    margin: 1rem;
    text-align: center;
    text-shadow: 2px 2px #2c2f33;
  }
  
  /* Form styles */
  form {
    background-color: #40444b;
    border-radius: 5px;
    box-shadow: 2px 2px #2c2f33;
    margin: 2rem auto;
    max-width: 800px;
    padding: 2rem;
  }
  
  label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  
  input[type="text"],
  textarea {
    background-color: #2f3136;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.5rem;
    width: 100%;
  }
  
  button {
    background-color: #7289da;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: .25rem;
    padding: 0.5rem
  }
  button.copy-button {
    margin-right: 0.5rem;
  }
  
  button.delete-button {
    margin-left: 0.5rem;
  }
  
  /* Snippet list styles */
  h2 {
    font-size: 2rem;
    margin: 2rem auto;
    text-align: center;
    text-shadow: 2px 2px #2c2f33;
  }
  
  ul {
    list-style: none;
    margin: 2rem auto;
    max-width: 800px;
  }
  
  li {
    background-color: #2f3136;
    border-radius: 5px;
    box-shadow: 2px 2px #2c2f33;
    margin-bottom: 1rem;
    padding: 1rem;
    position: relative;
  }
  
  li h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  li pre {
    background-color: #40444b;
    border-radius: 3px;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem;
    white-space: pre-wrap;
  }
  li button {
    margin-right: 5px;
    width: 40px;
    height: 40px;
  }
  li button:hover {
    background-color: #677bc4;
    color: #fff;
  }
  
  input:required {
    border: 1px solid #7289da;
  }
  
  .hidden {
    display: none;
  }
  
  #toggle-form-button {
    text-align: center;
    width: 250px;
    white-space: nowrap;
  }
  
  .tag-container {
    margin-top: 0.5rem;
  }
  
  .tag-container a {
    display: inline-block;
    margin-right: 0.5rem;
    background-color: #7289da;
    padding: 0.2rem 0.5rem;
    border-radius: 0.25rem;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.2s ease-in-out;
  }
  
  .tag-container a:hover {
    background-color: #5f73a1;
  }
  
  li {
    position: relative;
  }
  
  li .edit-button {
    position: absolute;
    top: 0;
    right: 110px;
  }
  
  li .delete-button {
    position: absolute;
    top: 0;
    right: 60px;
  }
  
  li .copy-button {
    position: absolute;
    top: 0;
    right: 10px;
  }
  
  .tag-label {
    margin-right: 0.5rem;
  }
  
  .snippet-date {
    font-size: 0.8rem;
    text-align: right;
    margin-top: 0.5rem;
  }
  
  .with-clear-button {
    margin-right: 8px; /* add a right margin */
  }
  
  #form-toggle-button:hover, #add-snippet-button:hover,
  #form-toggle-button:focus, #add-snippet-button:focus,
  #cancel-edit-button:hover, #cancel-edit-button:focus {
    background-color: #677bc4;
    color: #fff;
  }
  #toggle-form-button:hover {
    background-color: #677bc4;
    color: #fff;
  }
  #snippet-form > #cancel-edit-button {
    margin-left: 5px;
  }
  
  button#update-snippet-button {
    margin-right: 8px;
  }
  
  button#cancel-edit-button {
    margin-right: 8px;
  }
  
  button#add-snippet-button,
  button#form-toggle-button,
  button#update-snippet-button,
  button#cancel-edit-button {
    background-color: #7289da;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.5rem;
    transition: background-color 0.2s ease-in-out;
  }
  
  button#add-snippet-button:hover,
  button#form-toggle-button:hover,
  button#update-snippet-button:hover,
  button#cancel-edit-button:hover {
    background-color: #5f73a1;
  }
  #add-snippet-button, #cancel-edit-button {
    display: inline-block;
    margin-right: 10px;
  }
  button#add-snippet-button, button#cancel-edit-button {
    background-color: #7289da;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  button#add-snippet-button {
    margin-right: 10px;
    margin-top: 10px;
  }
  #add-snippet-button,
  #cancel-edit-button {
    display: inline-block;
    margin-right: 10px;
  }

  #snippet-form {
    min-height: 700px;
  }
  
  textarea {
    resize: both;
  }
  
  
  
  #snippet-form button#update-snippet-button,
#snippet-form button#cancel-edit-button {
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px
}

#snippet-form button#add-snippet-button {
  margin-right: 10px;
}
.code-textarea {
    display: block;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 3px;
    font-family: monospace;
    font-size: 1.2rem;
    border: 1px solid #7289da;
    resize: vertical;
    height: auto;
  }
  .snippet-desc {
    display: block;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #7289da;
    border-radius: 3px;
    font-family: monospace;
    font-size: 1.2rem;
   
    resize: vertical;
    height: auto;
    
    
  }

  .required {
    color: red; /* red */
    font-size: small;
    text-align: center;
  }
  .small {
    font-size: small;
  }


  .clear-tags-button {
    text-align: right;
    margin-bottom: 20px;
    margin: left 50px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #40444b;
    border-radius: 5px;
    box-shadow: 2px 2px #2c2f33;
    padding: 1rem;
    width: 80%;
    margin: 0 auto;
  }
  
  .header-title h1 {
    margin: 0;
  }
  
  .header-title p {
    margin: 0;
    font-size: 0.8rem;
  }
  
  #search-form {
    flex-grow: 1;
    margin: 0 1rem;
    box-shadow: 0px 0px #2c2f33;
    width: 66%;
  }
  
  #search-term {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 0.3rem;
  }
  
  .toggle-form-button {
    font-size: 2rem;
    background-color: #7289da;
    border: none;
    cursor: pointer;
    margin-left: 1rem;
    text-align: center;
    width: 200px;
  }
  #menu {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: #7289da;
  width: 50px;
  height: 50px;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

  /* Overlay styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

/* Snippet form container styles */
#snippet-form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: white;
  padding: 1em;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}

/* Hidden styles */
.hidden {
  display: none;
}

  
  